:root {
  --navigation-color: #2e2f42;
  --contacts-color: #434455;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
}

/* -----------------------HEADER--------------------------- */
.header {
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-studio {
  color: var(--navigation-color);
}
.header-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-navigation-list {
}
.header-navigation-studio,
.header-navigation-studio:hover,
.header-navigation-studio:focus {
  color: var(--navigation-color);
}

.header-navigation-portfolio,
.header-navigation-portfolio:hover,
.header-navigation-portfolio:focus {
  color: var(--navigation-color);
}

.header-navigation-contacts,
.header-navigation-contacts:hover,
.header-navigation-contacts:focus {
  color: var(--navigation-color);
}

.header-list-contacts {
}

.header-contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-contacts-mail {
  color: var(--contacts-color);
}
.header-contacts-phone {
  color: var(--contacts-color);
}
/* --------------------------HERO------------------------ */
.hero {
  background: var(--navigation-color);
}
.hero-text {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-button,
.hero-button:hover,
.hero-button:focus {
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.hero-button-orderservice {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.qualities {
}
.qualities-section-name {
}
.qualities-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navigation-color);
}
.qualities-list-strategy {
}

.qualities-list-strategy-name {
}
.qualities-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}
.qualities-list-punctuality-name {
}
.qualities-list-diligence-name {
}
.qualities-list-tehnologies-name {
}
/* -----------------------WORKS------------------------- */
.works {
}
.works-name {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navigation-color);
}
.works-list {
}
.works-list-one {
}
.works-list-two {
}
.works-list-three {
}
/* --------------------------TEAM------------------------------------ */
.team {
}
.team-name {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navigation-color);
}
.team-list {
}
.team-list-mark {
}
.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navigation-color);
}
.team-list-job {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}
.team-list-tom {
}
.team-list-camila {
}
.team-list-daniel {
}
/* -----------------------------FOOTER------------------------ */
.footer {
  background: var(--navigation-color);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-studio {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/* -------------------PAGE2---PORTFOLIO------FILTERS--------- */
.filters {
}
.filters-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}
.filters-btn:hover,
.filters-btn:focus {
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}
/* -----------------------------CARDS------------------------------------ */
.cards {
}
.cards-list {
}
.cards-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navigation-color);
}
.cards-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}
